<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Домен Спорт</title>
    <link href="css/index.css" rel="stylesheet">
    <script src="https://api-maps.yandex.ru/v3/?apikey=780efb0d-f104-43ef-891a-a145d5b131cd&lang=ru_RU"></script>
    <script>
        initMap();

        async function initMap() {
            await ymaps3.ready;

            const {YMap, YMapDefaultSchemeLayer} = ymaps3;

            const map = new YMap(
                document.getElementById('map'),
                {
                    location: {
                        center: [37.588144, 55.733842],
                        zoom: 10
                    }
                }
            );

            map.addChild(new YMapDefaultSchemeLayer());
        }
    </script>
</head>
<body>


<header class=" mb-3 border-bottom">
    <div class="container">


        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="#"> <img class="top-logo" src="./img/logo.png"></a>
            <button aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarTogglerDemo02" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Спортмероприятия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Виды спорта</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Спортшколы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Статьи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Спортобъекты</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" placeholder="Search" type="search">
                </form>
                <div class="dropdown">
  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Сергей Кулев
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>


            </div>
        </nav>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <label class="form-label" for="exampleDataList">Вид спорта</label>
                <input class="form-control" id="exampleDataList" list="datalistOptions" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    <option value="Фристайл">
                    <option value="Футбол">
                    <option value="Хоккей">
                    <option value="Радиоспорт">
                </datalist>

                <label class="form-label" for="exampleDataList">Город</label>
                <input class="form-control" id="exampleDataList" list="datalistOptions" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    <option value="Фристайл">
                    <option value="Футбол">
                    <option value="Хоккей">
                    <option value="Радиоспорт">
                </datalist>

                <div aria-label="Простой пример" role="group">
                    <button class="btn btn-secondary otstup_top" type="button">Показать</button>
                    <button class="btn btn-outline-secondary otstup_top" type="button">Сбросить</button>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12">


                <div class="row">
                    <h1 class="main-title">Cпортивные события на карте страны</h1>
                    <div id="map" style="width: 970px; height: 400px"></div>

                </div>


            </div>

            <main class="v-otstup-big">
            <h1 class="main-title-niz">Главные спортивные события</h1>

            <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 g-4 mb-2 v-otstup-min">

                <div class="col">
                    <div class="card">
                        <img alt="..." class="card-img-top" src="./img/anons-1.png">
                        <div class="card-body minbloc">
                            <h6 class="card-subtitle mb-2 text-muted"> Парусный спорт</h6>

                            <ul class="list-inline date-card">
                                <li class="list-inline-item"><i class="icon feather icon-calendar"></i></li>
                                <li class="list-inline-item">4.02.2022 - 10.02.2022</li>
                            </ul>

                            <h5 class="card-title">ФПС Армении приглашает россиян на регату на озере Севан</h5>
                            <p class="card-text truncate-text-4">4-10 августа 2024 года на базе Армянской федерации парусного спорта в
                                городе Севан на живописной акватории озера Севан пройдут традиционные соревнования
                                «Мемориал И.С. Исакова» с участием классов Оптимист и Луч-мини.</p>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card">
                        <img alt="..." class="card-img-top" src="./img/anons-3.png">
                        <div class="card-body minbloc">
                            <h6 class="card-subtitle mb-2 text-muted">Радиоспорт</h6>

                            <ul class="list-inline date-card">
                                <li class="list-inline-item"><i class="icon feather icon-calendar"></i></li>
                                <li class="list-inline-item">25.02.2022</li>
                            </ul>

                            <h5 class="card-title">Чемпионат Москвы по радиосвязи на КВ-телеграф</h5>
                            <p class="card-text truncate-text-4">Дворовая территория (г. Москва, улица Тёплый Стан, дом 15, корпус 6),
                                по месту нахождения участников (г. Москва)</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img alt="..." class="card-img-top" src="./img/anons-4.png">
                        <div class="card-body minbloc">
                            <h6 class="card-subtitle mb-2 text-muted">Парусный спорт</h6>
                            <ul class="list-inline date-card">
                                <li class="list-inline-item"><i class="icon feather icon-calendar"></i></li>
                                <li class="list-inline-item"><li class="list-inline-item">2.02.2022 - 10.02.2022</li></li>
                            </ul>
                            <h5 class="card-title">Имеретинский командный кубок</h5>
                            <p class="card-text truncate-text-4">
                                2-8 марта в яхтенном порту «Имеретинский» на базе парусного клуба Sail in Sochi пройдут
                                межрегиональные соревнования по командным гонкам в классе Оптимист.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img alt="..." class="card-img-top" src="./img/anons-2.png">
                        <div class="card-body minbloc">
                            <h6 class="card-subtitle mb-2 text-muted">Радиоспорт</h6>

                            <ul class="list-inline date-card">
                                <li class="list-inline-item"><i class="icon feather icon-calendar"></i></li>
                                <li class="list-inline-item">25.02.2022</li>
                            </ul>


                            <h5 class="card-title">Крымская Весна-2024</h5>
                            <p class="card-text truncate-text-4">В честь 10-ой годовщины референдума и принятия Республики Крым и города
                                Севастополя в Российскую Федерацию РО СРР по Республике Крым и городу Севастополю
                                организовало и проводит в период с 00:00 UTC 16 марта до 23:59 UTC 31 марта 2024 года
                                Дни активности радиолюбителей Республики Крым (R6K) и города Севастополя (R6R).</p>
                        </div>
                    </div>
                </div>

            </div>


</main>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-2 mb-0 text-muted"><img class="top-logo" src="./img/logo-f.png"></div>

           <ul class="nav col-md-10 justify-content-end">
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Главная</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Спортмероприятия</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Виды спорта</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Спортивные школы</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Статьи</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Спортивные объекты</a></li>
        </ul>
    </footer>


    <script crossorigin="anonymous" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>