<div class="container">
    <div class="row" th:if="${manager} or ${admin}">
        <div class="col-2">
            <div class="d-grid p-2">
                <a class="btn btn-outline-secondary" th:href="@{/event/add}">Добавить событие</a>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Мероприятия</h6>
                    <div class="row">
                        <div class="col-1">
                            <small>№</small>
                        </div>
                        <div class="col-1">
                            <small>№ ЕКП</small>
                        </div>
                        <div class="col-1">
                            <small>Даты проведения</small>
                        </div>
                        <div class="col-2">
                            <small>Название соревнования</small>
                        </div>
                        <div class="col-2">
                            <small>Категории соревнования</small>
                        </div>
                        <div class="col-2">
                            <small>Место проведения</small>
                        </div>
                        <div class="col-3">
                            <small>Детали</small>
                        </div>
                    </div>
                    <div class="row" th:each="event, stat : ${events}" style="min-height: 100px; max-height: 100%">
                        <div class="row bg-light" th:if="${stat.index % 2 == 0}">
                            <div class="col-1">
                                <span th:text="${event.getNum()}"></span>
                            </div>
                            <div class="col-1">
                                <span th:text="${event.getEkp()}"></span>
                            </div>
                            <div class="col-1">
                                <span th:text="${event.getBeginningDate() + ' -'}"></span>
                                <br>
                                <span th:text="${event.getEndingDate()}"></span>
                            </div>
                            <div class="col-2">
                                <span th:text="${event.getTitle()}"></span>
                            </div>
                            <div class="col-2">
                                <span th:text="${event.getCategory()}"></span>
                            </div>
                            <div class="col-2">
                                <span th:text="${event.getLocation()}"></span>
                            </div>
                            <div class="col-3 d-flex align-items-center" style="height: 100%">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a th:href="@{/event/show(eventId=${event.getId()})}" class="btn btn-outline-secondary">Подробнее</a>
                                    <a th:href="@{/event/edit(eventId=${event.getId()})}" class="btn btn-outline-secondary" th:if="${manager} or ${admin}">Редактор</a>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#delete-modal" th:if="${manager} or ${admin}">
                                        Удалить
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="delete-modal" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Внимание!</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы собираетесь удалить мероприятие! Вы уверены?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                    <a th:href="@{/event/delete(eventId=${event.getId()})}" class="btn btn-primary">Подтвердить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" th:if="${stat.index % 2 != 0}" style="min-height: 100px; max-height: 100%">
                            <div class="col-1">
                                <span th:text="${event.getNum()}"></span>
                            </div>
                            <div class="col-1">
                                <span th:text="${event.getEkp()}"></span>
                            </div>
                            <div class="col-1">
                                <span th:text="${event.getBeginningDate() + ' -'}"></span>
                                <br>
                                <span th:text="${event.getEndingDate()}"></span>
                            </div>
                            <div class="col-2">
                                <span th:text="${event.getTitle()}"></span>
                            </div>
                            <div class="col-2">
                                <span th:text="${event.getCategory()}"></span>
                            </div>
                            <div class="col-2">
                                <span th:text="${event.getLocation()}"></span>
                            </div>
                            <div class="col-3 d-flex align-items-center" style="height: 100%">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a th:href="@{/event/show(eventId=${event.getId()})}" class="btn btn-outline-secondary">Подробнее</a>
                                    <a th:href="@{/event/edit(eventId=${event.getId()})}" class="btn btn-outline-secondary" th:if="${manager} or ${admin}">Редактор</a>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#delete-modal" th:if="${manager} or ${admin}">
                                        Удалить
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="delete-modal" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Внимание!</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы собираетесь удалить мероприятие! Вы уверены?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                    <a th:href="@{/event/delete(eventId=${event.getId()})}" class="btn btn-primary">Подтвердить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page - 1},size=${size})}"><i class="icon feather icon-chevron-left"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page - 2},size=${size})}" th:if="${page - 2 >= 0}" th:text="${page - 1}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page - 1},size=${size})}" th:if="${page - 1 >= 0}" th:text="${page}"></a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page + 1},size=${size})}" th:if="${page + 1} <= ${lastPage}" th:text="${page + 2}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page + 2},size=${size})}" th:if="${page + 2} <= ${lastPage}" th:text="${page + 3}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page + 1}, size=${size})}"><i class="icon feather icon-chevron-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>