<main>
    <div class="page-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="position-relative">
                            <figure class="overflow-hidden mb-0 d-flex justify-content-center">
                                <img alt="header" th:src="@{/api/download(image=${event.getImageId()})}" class="rounded-top img-fluid" style="object-fit: cover; width: 100%; height: 272px" onerror="this.onerror=null; this.src='/img/default-image.webp'">
                            </figure>
                            <div class="d-flex justify-content-between align-items-center position-absolute top-90 w-100 px-2 px-md-4 mt-n4">
                                <div>
                                    <img alt="logo" class="wd-140 icon-circle" th:src="@{/api/download(image=${event.getLogoId()})}" style="object-fit: cover; width: 140px; height: 140px" onerror="this.onerror=null; this.src='/img/default-logo.webp'">
                                    <h1 class="v-otstup-niz  meropriyatie-zag" th:text="${event.getTitle()}"></h1>
                                </div>
                                <div class="d-none d-md-block" th:if="${manager} or ${admin}">
                                    <a th:href="@{/event/edit(eventId=${event.getId()})}" class="btn btn-secondary btn-icon-text">
                                        <i class="icon feather icon-edit"></i> Редактировать информацию
                                    </a>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-secondary btn-icon-text" data-bs-toggle="modal" data-bs-target="#delete-modal">
                                        <i class="bi bi-trash"></i> Удалить
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="delete-modal" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Внимание!</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы собираетесь удалить мероприятие! Вы уверены?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                    <a th:href="@{/event/delete(eventId=${event.getId()})}" class="btn btn-primary">Подтвердить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row profile-body v-otstup-veri-big">
                <!-- left wrapper start -->
                <div class="d-none d-md-block col-md-12 col-xl-3 left-wrapper">
                    <div class="card rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="left-text-zag card-title mb-0">Информация о соревновании</h6>
                            </div>
                            <div class="mt-3">
                                <p class="left-text"><i class="icon feather icon-clock"></i><span th:text="' ' + ${event.getBeginningDate()} + '-' + ${event.getEndingDate()}"></span></p>
                            </div>
                            <div class="mt-3">
                                <label class="left-text fw-bolder mb-0 text-uppercase">Локация:</label>
                                <p class="left-text text-muted" th:text="${event.getLocation()}"></p>
                            </div>
                            <div class="mt-3" th:if="${event.getNum()} != null">
                                <label class="tx-13 fw-bolder mb-0 text-uppercase">№ меропр.:</label>
                                <p class="text-muted" th:text="${event.getNum()}"></p>
                            </div>
                            <div class="mt-3" th:if="${event.getEkp()} != null">
                                <label class="left-text fw-bolder mb-0 text-uppercase">№ в ЕКП:</label>
                                <p class="left-text text-muted" th:text="${event.getEkp()}"></p>
                            </div>
                            <div class="mt-3">
                                <label class="left-text fw-bolder mb-0 text-uppercase">Статус:</label>
                                <p class="left-text text-muted" th:text="${event.getStatus().getTitle()}"></p>
                            </div>
                            <div class="mt-3">
                                <label class="left-text fw-bolder mb-0 text-uppercase">Проводящая организация:</label>
                                <p class="left-text text-muted" th:text="${event.getOrganization()}"></p>
                            </div>
                            <div class="mt-3">
                                <label class="left-text fw-bolder mb-0 text-uppercase">Вид спорта:</label>
                                <p class="left-text text-muted" th:text="${event.getSport().getTitle()}"></p>
                            </div>
                            <div class="mt-3">
                                <label class="left-text fw-bolder mb-0 text-uppercase">Дисциплины:</label>
                                <div th:each="discipline : ${event.getSport().getDisciplines()}">
                                    <p class="left-text text-muted" th:text="'-' + ${discipline.getTitle()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- left wrapper end -->
                <!-- middle wrapper start -->
                <div class="col-md-12 col-xl-9 middle-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="card rounded">
                                <div class="card-body">
                                    <div th:utext="${event.getDescription()}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>