<div class="container">
    <div class="row">
        <div class="col-2 px-2" th:if="${manager} or ${admin}">
            <div class="d-grid py-2">
                <a class="btn btn-outline-secondary" th:href="@{/event/add}">Добавить событие</a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col py-2 px-2">
                    <input type="text" class="form-control" id="sport-search" list="sport-data-list" placeholder="Поиск вида спорта">
                    <datalist id="sport-data-list"></datalist>
                </div>
                <div class="col-2 float-end px-2">
                    <div class="d-grid py-2">
                        <button class="btn btn-outline-secondary" type="button" onclick="showEkpBySport()">Показать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Мероприятия</h6>
                    <div class="row">
                        <div class="col-1 p-1 text-center">
                            <small>№</small>
                        </div>
                        <div class="col-1 p-1 text-center">
                            <small>№ ЕКП</small>
                        </div>
                        <div class="col-1 p-1 text-center">
                            <small>Даты проведения</small>
                        </div>
                        <div class="col-2 p-1 text-center">
                            <small>Название соревнования</small>
                        </div>
                        <div class="col-2 p-1 text-center">
                            <small>Вид спорта и категории</small>
                        </div>
                        <div class="col-2 p-1 text-center">
                            <small>Место проведения</small>
                        </div>
                        <div class="col-3 p-1 text-center">
                            <small>Детали</small>
                        </div>
                    </div>
                    <div class="row" th:each="event, stat : ${events}" style="min-height: 100px; max-height: 100%">
                        <div class="row bg-light" th:if="${stat.index % 2 == 0}">
                            <div class="col-1 p-1">
                                <span th:text="${event.getNum()}"></span>
                            </div>
                            <div class="col-1 p-1">
                                <span th:text="${event.getEkp()}"></span>
                            </div>
                            <div class="col-1 p-1">
                                <span th:text="${event.getBeginningDate() + ' -'}"></span>
                                <br>
                                <span th:text="${event.getEndingDate()}"></span>
                            </div>
                            <div class="col-2 p-1">
                                <span th:text="${event.getTitle()}"></span>
                            </div>
                            <div class="col-2 p-1">
                                <b><p th:text="${event.getSport().getTitle()}"></p></b>
                                <p th:text="${event.getCategory()}"></p>
                            </div>
                            <div class="col-2 p-1">
                                <span th:text="${event.getLocation()}"></span>
                            </div>
                            <div class="col-3 p-1 d-flex align-items-center" style="height: 100%">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a th:href="@{/event/show(eventId=${event.getId()})}" class="btn btn-outline-secondary">Подробнее</a>
                                    <a th:href="@{/event/edit(eventId=${event.getId()})}" class="btn btn-outline-secondary" th:if="${event.isUpdate()}">Редактор</a>
                                    <!-- Button trigger modal -->
                                    <button th:id="'btn-delete-' + ${stat.index}" type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#delete-modal" th:if="${event.isDelete()}">
                                        Удалить
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'delete-modal-' + ${stat.index}" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5">Внимание!</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы собираетесь удалить мероприятие! Вы уверены?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                    <a th:href="@{/event/delete(eventId=${event.getId()})}" class="btn btn-primary">Подтвердить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script th:inline="javascript">
                                        document.getElementById('btn-delete-' + [[${stat.index}]]).setAttribute('data-bs-target','#delete-modal-' + [[${stat.index}]]);
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row" th:if="${stat.index % 2 != 0}" style="min-height: 100px; max-height: 100%">
                            <div class="col-1 p-1">
                                <span th:text="${event.getNum()}"></span>
                            </div>
                            <div class="col-1 p-1">
                                <span th:text="${event.getEkp()}"></span>
                            </div>
                            <div class="col-1 p-1">
                                <span th:text="${event.getBeginningDate() + ' -'}"></span>
                                <br>
                                <span th:text="${event.getEndingDate()}"></span>
                            </div>
                            <div class="col-2 p-1">
                                <span th:text="${event.getTitle()}"></span>
                            </div>
                            <div class="col-2 p-1">
                                <b><p th:text="${event.getSport().getTitle()}"></p></b>
                                <p th:text="${event.getCategory()}"></p>
                            </div>
                            <div class="col-2 p-1">
                                <span th:text="${event.getLocation()}"></span>
                            </div>
                            <div class="col-3 p-1 d-flex align-items-center" style="height: 100%">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a th:href="@{/event/show(eventId=${event.getId()})}" class="btn btn-outline-secondary">Подробнее</a>
                                    <a th:href="@{/event/edit(eventId=${event.getId()})}" class="btn btn-outline-secondary" th:if="${event.isUpdate()}">Редактор</a>
                                    <!-- Button trigger modal -->
                                    <button th:id="'btn-delete-' + ${stat.index}" type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#delete-modal" th:if="${event.isDelete()}">
                                        Удалить
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'delete-modal-' + ${stat.index}" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5">Внимание!</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы собираетесь удалить мероприятие! Вы уверены?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                    <a th:href="@{/event/delete(eventId=${event.getId()})}" class="btn btn-primary">Подтвердить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script th:inline="javascript">
                                        document.getElementById('btn-delete-' + [[${stat.index}]]).setAttribute('data-bs-target','#delete-modal-' + [[${stat.index}]]);
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=0,size=${size}, search=${search})}">Первая</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page - 1},size=${size}, search=${search})}"><i class="icon feather icon-chevron-left"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page - 2},size=${size}, search=${search})}" th:if="${page - 2 >= 0}" th:text="${page - 1}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page - 1},size=${size}, search=${search})}" th:if="${page - 1 >= 0}" th:text="${page}"></a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page + 1},size=${size}, search=${search})}" th:if="${page + 1} <= ${lastPage}" th:text="${page + 2}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page + 2},size=${size}, search=${search})}" th:if="${page + 2} <= ${lastPage}" th:text="${page + 3}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page + 1}, size=${size}, search=${search})}"><i class="icon feather icon-chevron-right"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${lastPage},size=${size}, search=${search})}">Последняя</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $('#sport-search').on('input', function() {
        let searchQuery = this.value;
        $.ajax({
            url: '/api/get/sports',
            type: 'get',
            data: {
                query: searchQuery
            },
            success: function(response) {
                let select = $('#sport-data-list');
                select.empty();

                response.forEach(function(item) {
                    select.append(
                        '<option data-item="' + JSON.stringify(item).replace(/"/g, '&quot;') + '" value="' + item.title + '">' + item.title + '</option>'
                    );
                });
            }
        });
    });

    function showEkpBySport(){
        let inputVal = document.getElementById('sport-search').value;
        let dataList = document.getElementById('sport-data-list');
        let options = dataList.options;
        let dataItem = null;
        for (let i = 0; i < options.length; i++) {
            if (options[i].value === inputVal) {
                dataItem = JSON.parse(options[i].getAttribute('data-item').replace(/"/g, '"'));
                break;
            }
        }
        if(dataItem != null){
            window.location.href = '/event/all?page=' + [[${page}]] + '&size=' + [[${size}]] + '&search=' + dataItem.id;
        }
    }
</script>