<div class="container">
    <form id="ekp-add-form" class="row" th:method="POST" th:action="@{/event/update}" th:object="${event}" enctype="multipart/form-data">
        <input type="number" th:field="*{id}" hidden>
        <div class="col">
            <div class="row py-1">
                <div class="col">
                    <h2 class="text-center py-2"><small class="text-secondary">Добавить событие</small></h2>
                </div>
            </div>
            <hr>
            <div class="row py-1">
                <div class="col">
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="ekp" placeholder="Укажите номер единого календарного плана" th:field="*{ekp}">
                        <label for="ekp">ЕКП</label>
                    </div>
                </div>
            </div>
            <div class="row py-1">
                <div class="col">
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="num" placeholder="Укажите иной номер соревнования" th:field="*{num}">
                        <label for="num">Иной номер</label>
                    </div>
                </div>
            </div>
            <div class="row py-1" th:if="${#fields.hasErrors('ekp')} or ${#fields.hasErrors('num')}">
                <div class="col fs-5 text-danger ms-1">
                    <p th:errors="*{ekp}"></p>
                    <p th:errors="*{num}"></p>
                </div>
            </div>
            <div class="row py-1">
                <div class="col">
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="title" placeholder="Укажите название" th:field="*{title}">
                        <label for="title">Название мероприятия</label>
                    </div>
                </div>
            </div>
            <div class="row py-1" th:if="${#fields.hasErrors('title')}">
                <div class="col fs-5 text-danger ms-1">
                    <p th:errors="*{title}"></p>
                </div>
            </div>
            <div class="row py-1">
                <div class="col">
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="organization" placeholder="Укажите организацию" th:field="*{organization}">
                        <label for="organization">Название проводящей организации</label>
                    </div>
                </div>
            </div>
            <div class="row py-1" th:if="${#fields.hasErrors('organization')}">
                <div class="col fs-5 text-danger ms-1">
                    <p th:errors="*{organization}"></p>
                </div>
            </div>
            <div class="row py-1">
                <div class="col pe-2">
                    <div class="form-floating mb-1">
                        <input type="date" class="form-control" id="beginning" placeholder="Начало мероприятия" th:field="*{beginning}">
                        <label for="beginning">Дата начала спортивного мероприятия</label>
                    </div>
                </div>
                <div class="col ps-2">
                    <div class="form-floating mb-1">
                        <input type="date" class="form-control" id="ending" placeholder="Конец мероприятия" th:field="*{ending}">
                        <label for="ending">Дата окончания спортивного мероприятия</label>
                    </div>
                </div>
            </div>
            <div class="row py-1" th:if="${#fields.hasErrors('beginning')} or ${#fields.hasErrors('ending')}">
                <div class="col fs-5 text-danger ms-1">
                    <p th:errors="*{beginning}"></p>
                </div>
                <div class="col fs-5 text-danger ms-1">
                    <p th:errors="*{ending}"></p>
                </div>
            </div>
            <div class="row py-1">
                <div class="col">
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="location" placeholder="Укажите локацию" th:field="*{location}">
                        <label for="location">Адрес, места проведения спортивного мероприятия</label>
                    </div>
                </div>
            </div>
            <div class="row py-1" th:if="${#fields.hasErrors('location')}">
                <div class="col fs-5 text-danger ms-1">
                    <p th:errors="*{location}"></p>
                </div>
            </div>
            <div class="row py-1">
                <div class="col">
                    <div class="form-floating mb-1">
                        <select type="text" class="form-select" id="status" th:field="*{status}">
                            <option th:each="status : ${statusList}" th:value="${status}" th:text="${status.getTitle()}"></option>
                        </select>
                        <label for="status">Статус соревнования</label>
                    </div>
                </div>
            </div>
            <div class="row py-1">
                <div class="col">
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="search-form" list="datalist-form" placeholder="Поиск вида спорта ..." onchange="setupDiscipline()" th:field="*{sport.title}">
                        <label for="search-form">Вид спорта</label>
                        <input type="number" id="input-sport-id" th:field="*{sportId}" hidden>
                        <datalist id="datalist-form"></datalist>
                    </div>
                </div>
            </div>
            <div class="row py-1" th:if="${#fields.hasErrors('sportId')}">
                <div class="col fs-5 text-danger ms-1">
                    <p th:errors="*{sportId}"></p>
                </div>
            </div>
            <div class="row py-1" id="discipline-message" hidden>
                <div class="col">
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="disciplines-terminator" placeholder="Сменить дисциплину можно при повторном выборе вида спорта" disabled>
                        <label for="disciplines-terminator">Дисциплины</label>
                    </div>
                </div>
            </div>
            <div class="row py-1" id="discipline-div">
                <div class="col">
                    <div class="form-floating mb-1">
                        <select type="text" class="form-control js-example-basic-multiple" multiple="multiple" id="discipline-select" th:field="*{disciplineIds}">
                            <option th:each="discipline : ${event.getDisciplines()}" th:value="${discipline.getId()}" th:text="${discipline.getTitle()}"></option>
                        </select>
                        <label for="discipline-select"></label>
                        <script th:inline="javascript">
                            let options = []; // Массив для хранения элементов
                            let select2JQobject = $('#discipline-select'); // JQuery объект вашего select2 элемента
                            let disciplines = [[${event}]].sport.disciplines;

                            disciplines.forEach(function (d){
                                options.push(new Option(d.title, d.id, true, true));
                            })

                            // Добавляем элементы из массива options в select2
                            select2JQobject.append(options).trigger('change');
                            select2JQobject.select2();
                        </script>
                    </div>
                </div>
            </div>
            <div class="row py-1">
                <div class="col">
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="category" placeholder="Укажите категорию" th:field="*{category}">
                        <label for="category">Укажите возрастную категорию</label>
                    </div>
                </div>
            </div>
            <div class="row py-1">
                <div class="col">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div id="drop-logo-area" class="border rounded d-flex justify-content-center align-items-center" style="height: 100px; cursor: pointer">
                                        <div class="text-center">
                                            <i class="bi bi-cloud-arrow-up-fill text-secondary fs-1"></i>
                                            <p>Перенесите, или выберите изображение для логотипа</p>
                                        </div>
                                    </div>
                                    <input type="file" id="file-logo" accept="image/*" class="d-none" th:field="*{logo}"/>
                                </div>
                                <div class="row text-center" id="logo-gallery">
                                    <div class="col pt-2" th:if="${event.getLogoId() != 0}">
                                       <img th:src="@{/api/download(image=${event.getLogoId()})}" style="height: 100px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            let dropArea = document.getElementById('drop-logo-area');
                            let fileElem = document.getElementById('file-logo');

                            ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                                dropArea.addEventListener(eventName, preventDefaults, false);
                                document.body.addEventListener(eventName, preventDefaults, false);
                            });

                            ['dragenter', 'dragover'].forEach(eventName => {
                                dropArea.addEventListener(eventName, highlight, false);
                            });

                            ['dragleave', 'drop'].forEach(eventName => {
                                dropArea.addEventListener(eventName, unhighlight, false);
                            });

                            dropArea.addEventListener('drop', handleDrop, false);

                            function preventDefaults(e) {
                                e.preventDefault();
                                e.stopPropagation();
                            }

                            function highlight(e) {
                                dropArea.classList.add('highlight');
                            }

                            function unhighlight(e) {
                                dropArea.classList.remove('highlight');
                            }

                            function handleDrop(e) {
                                let dt = e.dataTransfer;
                                let files = dt.files;
                                handleFiles(files);
                            }

                            dropArea.addEventListener('click', () => {
                                fileElem.click();
                            });

                            fileElem.addEventListener('change', function (e) {
                                handleFiles(this.files);
                            });

                            function handleFiles(files) {
                                files = [...files];
                                files.forEach(previewFile);
                            }

                            function previewFile(file) {
                                let reader = new FileReader();
                                reader.readAsDataURL(file);
                                reader.onloadend = function () {
                                    $('#logo-gallery').empty();
                                    $('#logo-gallery').append(
                                        '<div class="col pt-2">' +
                                        '   <img src="' + reader.result + '" style="height: 100px">' +
                                        '</div>'
                                    );
                                }
                            }
                        </script>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div id="drop-image-area" class="border rounded d-flex justify-content-center align-items-center" style="height: 100px; cursor: pointer">
                                    <div class="text-center">
                                        <i class="bi bi-cloud-arrow-up-fill text-secondary fs-1"></i>
                                        <p>Перенесите, или выберите изображение для шапки карточки</p>
                                    </div>
                                </div>
                                <input type="file" id="file-image" accept="image/*" class="d-none" th:field="*{image}"/>
                            </div>
                            <div class="row text-center" id="image-gallery">
                                <div class="col pt-2" th:if="${event.getImageId() != 0}">
                                    <img th:src="@{/api/download(image=${event.getImageId()})}" style="height: 100px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        let dropArea2 = document.getElementById('drop-image-area');
                        let fileElem2 = document.getElementById('file-image');

                        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                            dropArea2.addEventListener(eventName, preventDefaults2, false);
                            document.body.addEventListener(eventName, preventDefaults2, false);
                        });

                        ['dragenter', 'dragover'].forEach(eventName => {
                            dropArea2.addEventListener(eventName, highlight2, false);
                        });

                        ['dragleave', 'drop'].forEach(eventName => {
                            dropArea2.addEventListener(eventName, unhighlight2, false);
                        });

                        dropArea2.addEventListener('drop', handleDrop2, false);

                        function preventDefaults2(e) {
                            e.preventDefault();
                            e.stopPropagation();
                        }

                        function highlight2(e) {
                            dropArea2.classList.add('highlight');
                        }

                        function unhighlight2(e) {
                            dropArea2.classList.remove('highlight');
                        }

                        function handleDrop2(e) {
                            let dt = e.dataTransfer;
                            let files = dt.files;
                            handleFiles2(files);
                        }

                        dropArea2.addEventListener('click', () => {
                            fileElem2.click();
                        });

                        fileElem2.addEventListener('change', function (e) {
                            handleFiles2(this.files);
                        });

                        function handleFiles2(files) {
                            files = [...files];
                            files.forEach(previewFile2);
                        }

                        function previewFile2(file) {
                            let reader = new FileReader();
                            reader.readAsDataURL(file);
                            reader.onloadend = function () {
                                $('#image-gallery').empty();
                                $('#image-gallery').append(
                                    '<div class="col pt-2">' +
                                    '   <img src="' + reader.result + '" style="height: 100px">' +
                                    '</div>'
                                );
                            }
                        }
                    </script>
                </div>
            </div>
            <div class="row py-1">
                <div class="col">
                    <textarea placeholder="Описание" id="summernote" th:field="*{description}"></textarea>
                </div>
            </div>
            <div class="row py-1">
                <div class="col">
                    <div class="d-grid py-2">
                        <button class="btn btn-outline-secondary" type="submit">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">
    $(document).ready(function() {
        $('#ekp-add-form').keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
    });

    $('#search-form').on('input', function() {
        let searchQuery = this.value;

        $.ajax({
            url: '/api/get/sports',
            type: 'get',
            data: {
                query: searchQuery
            },
            success: function(response) {
                let dataList = $('#datalist-form');
                dataList.empty();

                response.forEach(function(item) {
                    dataList.append(
                        '<option data-item="' + JSON.stringify(item).replace(/"/g, '&quot;') + '" value="' + item.title + '">' + item.title + '</option>'
                    );
                });
            }
        });
    });

    function setupDiscipline() {
        let inputVal = document.getElementById('search-form').value;
        let dataList = document.getElementById('datalist-form');
        let options = dataList.options;
        let dataItem = null;
        for (let i = 0; i < options.length; i++) {
            if (options[i].value === inputVal) {
                dataItem = JSON.parse(options[i].getAttribute('data-item').replace(/"/g, '"'));
                break;
            }
        }
        document.getElementById('discipline-message').hidden = true;
        document.getElementById('discipline-div').hidden = false;
        document.getElementById('input-sport-id').value = dataItem.id;
        $('#discipline-select').empty();
        dataItem.disciplines.forEach(function (discipline){
            console.log(discipline);
            $('#discipline-select').append(
                '<option value="' + discipline.id + '">' + discipline.title + '</option>'
            );
        });
        $('#discipline-select').ready(function() {
            $('.js-example-basic-multiple').select2();
        });

        if(searchQuery == ''){
            document.getElementById('discipline-message').hidden = false;
            document.getElementById('discipline-div').hidden = true;
        }
    }
</script>