<div class="container">
    <form class="row" th:object="${event}">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2 class="text-center py-2"><small class="text-secondary">Добавить событие</small></h2>
                </div>
            </div>
            <hr>
            <div class="row py-2">
                <div class="col">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="ekp">№ ЕКП</span>
                        <input type="text" class="form-control" placeholder="Единый календарный план" th:field="*{ekp}">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="num">Идентификатор</span>
                        <input type="text" class="form-control" placeholder="Иной номер если есть" th:field="*{num}">
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="title">Название</span>
                        <input type="text" class="form-control" placeholder="Название соревнования" th:field="*{title}">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="Вид спорта">Вид спорта</span>
                        <input type="search" class="form-control" id="search-form" list="datalist-form" placeholder="Начните вводить ... ">
                        <datalist id="datalist-form"></datalist>
                        <script th:inline="javascript">
                            $('#search-form').on('input', function() {
                                let searchQuery = this.value;

                                $.ajax({
                                    url: '/api/get/sports',
                                    type: 'get',
                                    data: {
                                        query: searchQuery
                                    },
                                    success: function(response) {
                                        let dataList = $('#datalist-form');
                                        dataList.empty();

                                        response.forEach(function(item) {
                                            dataList.append(
                                                '<option value="' + item.title + '">' + item.title + '</option>'
                                            );
                                        });
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>