<div class="container">
    <div class="row">
        <div class="col-2 px-2" th:if="${manager} or ${admin}">
            <div class="d-grid py-2">
                <a class="btn btn-outline-secondary" th:href="@{/event/add}">Добавить событие</a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col py-2 px-2">
                    <input type="text" class="form-control" id="sport-search" list="sport-data-list" placeholder="Поиск вида спорта">
                    <datalist id="sport-data-list"></datalist>
                </div>
                <div class="col-2 float-end px-2">
                    <div class="d-grid py-2">
                        <button class="btn btn-outline-secondary" type="button" onclick="showEkpBySport()">Показать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h2>
                <small class="text-secondary">Спортивные мероприятия России</small>
            </h2>
        </div>
    </div>
    <hr>
    <br>
    <div class="row row-cols-auto g-5 g-lg-5 justify-content-center">

        <div class="col" th:each="event, e_stat : ${events}">
            <div class="card card-animation zoom-control rounded-4 shadow" style="width: 18rem; height: 25rem">
                <div class="card-img-container" style="width: 100%; height: 150px; border-radius: 1rem 1rem 0 0">
                    <img th:id="'img-header-' + ${e_stat.index} + '-' + ${event.getSportId()}" th:src="@{/api/download(image=${event.getImageId()})}" class="card-img-top img-ratio-control zoom-effect" alt="header" onerror="setHomeDefault(this.id,'image')">
                </div>
                <script th:inline="javascript">
                    function setHomeDefault(id, param){
                        console.log(id);
                        let parts = id.split('-'); // Разделяем строку по символу '-'
                        let sportId = parts[parts.length - 1]; // Получаем последний элемент массива
                        console.log(sportId);
                        document.getElementById(id).onerror=null;
                        document.getElementById(id).src='/img/default-' + param + '-' + sportId + '.webp'
                    }
                </script>
                <div class="card-body d-flex flex-column">
                    <div class="row" style="position:relative; overflow: hidden; max-height: 100px">
                        <p class="fs-5"><i class="icon feather icon-calendar text-danger"></i><span th:text="${event.getBeginningDate()} + ' - ' + ${event.getEndingDate()}"></span></p>
                        <p class="card-subtitle mb-2 fs-6 pt-2" th:text="${event.getTitle()}" style="color: #335e94"></p>
                        <div style="position: absolute; bottom: 0; left: 0; width: 100%; height: 1.2em; background: linear-gradient(to top, white, transparent);"></div>
                    </div>
                    <div class="row mt-auto">
                        <p>
                            <small>
                                <span class="text-danger" th:text="'#'"></span>
                                <span class="text-dark" th:text="${event.getSport().getTitle()}"></span>
                            </small>
                        </p>
                        <hr>
                        <div class="row">
                            <div class="col d-flex">
                                <a th:href="@{/event/show(eventId=${event.getId()})}" class="btn btn-link mx-auto"><i class="fs-4 text-secondary bi bi-chat-square-text"></i></i></a>
                            </div>
                            <div class="col d-flex">
                                <a th:href="@{/event/edit(eventId=${event.getId()})}" class="btn btn-link mx-auto" th:if="${event.isUpdate()}"><i class="fs-4 text-secondary bi bi-list-check"></i></a>
                            </div>
                            <div class="col d-flex">
                                <!-- Button trigger modal -->
                                <button th:id="'btn-delete-' + ${e_stat.index}" type="button" class="btn btn-link mx-auto" data-bs-toggle="modal" data-bs-target="#delete-modal" th:if="${event.isDelete()}">
                                    <i class="fs-4 text-danger bi bi-trash3"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" th:id="'delete-modal-' + ${e_stat.index}" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5">Внимание!</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Вы собираетесь удалить <span th:text="' ' + ${event.getTitle()}"></span>! Вы уверены?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                <a th:href="@{/event/delete(eventId=${event.getId()})}" class="btn btn-primary">Подтвердить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script th:inline="javascript">
                                    document.getElementById('btn-delete-' + [[${e_stat.index}]]).setAttribute('data-bs-target','#delete-modal-' + [[${e_stat.index}]]);
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="row pt-3">
        <div class="col">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=0,size=${size}, search=${search})}">Первая</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page - 1},size=${size}, search=${search})}"><i class="icon feather icon-chevron-left"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page - 2},size=${size}, search=${search})}" th:if="${page - 2 >= 0}" th:text="${page - 1}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page - 1},size=${size}, search=${search})}" th:if="${page - 1 >= 0}" th:text="${page}"></a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page + 1},size=${size}, search=${search})}" th:if="${page + 1} <= ${lastPage}" th:text="${page + 2}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page + 2},size=${size}, search=${search})}" th:if="${page + 2} <= ${lastPage}" th:text="${page + 3}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${page + 1}, size=${size}, search=${search})}"><i class="icon feather icon-chevron-right"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/event/all(page=${lastPage},size=${size}, search=${search})}">Последняя</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $('#sport-search').on('input', function() {
        let searchQuery = this.value;
        $.ajax({
            url: '/api/get/sports',
            type: 'get',
            data: {
                query: searchQuery
            },
            success: function(response) {
                let select = $('#sport-data-list');
                select.empty();

                response.forEach(function(item) {
                    select.append(
                        '<option data-item="' + JSON.stringify(item).replace(/"/g, '&quot;') + '" value="' + item.title + '">' + item.title + '</option>'
                    );
                });
            }
        });
    });

    function showEkpBySport(){
        let inputVal = document.getElementById('sport-search').value;
        let dataList = document.getElementById('sport-data-list');
        let options = dataList.options;
        let dataItem = null;
        for (let i = 0; i < options.length; i++) {
            if (options[i].value === inputVal) {
                dataItem = JSON.parse(options[i].getAttribute('data-item').replace(/"/g, '"'));
                break;
            }
        }
        if(dataItem != null){
            window.location.href = '/event/all?page=' + [[${page}]] + '&size=' + [[${size}]] + '&search=' + dataItem.id;
        }
    }
</script>