<div class="container">
    <br>
    <div class="row shadow rounded-4 p-2 pb-3">
        <div class="col-lg-3 col-sm-12 px-2">
            <div class="row py-2">
                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="switch-period" onchange="periodControl()">
                        <label class="form-check-label" for="switch-period">Искать периодом</label>
                    </div>
                </div>
            </div>
            <div class="row" id="only-date">
                <div class="col">
                    <label class="form-label" for="date-picker">Искать в пределах даты</label>
                    <input type="date" class="form-control" id="date-picker">
                    <script th:inline="javascript">
                        document.getElementById('date-picker').value = [[${currentDate}]];
                    </script>
                </div>
            </div>
            <div class="row" id="period-date" hidden>
                <div class="col">
                    <div class="row">
                        <div class="col py-1">
                            <p>Укажите период</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 pe-1">
                            <input type="date" class="form-control" id="date-picker-beginning">
                        </div>
                        <div class="col-6 ps-1">
                            <input type="date" class="form-control" id="date-picker-ending">
                        </div>
                    </div>
                </div>
            </div>
            <label class="form-label" for="input-sport">Вид спорта</label>
            <input type="text" class="form-control" id="input-sport" list="sport-datalist" placeholder="Введите название ...">
            <datalist id="sport-datalist">

            </datalist>
            <div class="row pt-3">
                <div class="col pe-1">
                    <button class="btn btn-secondary" type="button" onclick="showEkp()" style="width: 100%">Показать</button>
                </div>
                <div class="col ps-1">
                    <button class="btn btn-outline-secondary" type="button" onclick="clearFields()" style="width: 100%">Сбросить</button>
                </div>
            </div>
            <script th:inline="javascript">
                $('#input-sport').on('input', function() {
                    let searchQuery = this.value;

                    $.ajax({
                        url: '/api/get/sports',
                        type: 'get',
                        data: {
                            query: searchQuery
                        },
                        success: function(response) {
                            let dataList = $('#sport-datalist');
                            dataList.empty();

                            response.forEach(function(item) {
                                dataList.append(
                                    '<option data-item="' + JSON.stringify(item).replace(/"/g, '&quot;') + '" value="' + item.title + '">' + item.title + '</option>'
                                );
                            });
                        }
                    });
                });

                function periodControl(){
                    let sw = document.getElementById('switch-period');
                    if(sw.checked){
                        document.getElementById('only-date').hidden = true;
                        document.getElementById('period-date').hidden = false;
                        document.getElementById('date-picker').value = null;
                    }else{
                        document.getElementById('only-date').hidden = false;
                        document.getElementById('period-date').hidden = true;
                        document.getElementById('date-picker-beginning').value = null;
                        document.getElementById('date-picker-ending').value = null;
                    }
                }

                function clearFields(){
                    $('#date-picker').val(null);
                    $('#date-picker-beginning').val(null);
                    $('#date-picker-ending').val(null);
                    $('#input-sport').val(null);
                }
            </script>
        </div>
        <div class="col-lg-9 col-sm-12 px-2">
            <div class="row">
                <div class="col">
                    <h1 class="main-title">Спортивные события на карте страны</h1>
                    <div id="map" style="width: 100%; height: 500px"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col pt-4">
            <h1 class="main-title">Главные спортивные события</h1>
            <div class="row row-cols-auto g-5 g-lg-5 justify-content-center">

                <div class="col" th:each="event, e_stat : ${eventList}">
                    <a th:href="@{/event/show(eventId=${event.getId()})}">
                        <div class="card card-animation zoom-control rounded-4 shadow" style="width: 18rem; height: 25rem">
                            <div class="card-img-container" style="width: 100%; height: 150px; border-radius: 1rem 1rem 0 0">
                                <img th:id="'img-header-' + ${e_stat.index} + '-' + ${event.getSportId()}" th:src="@{/api/download(image=${event.getImageId()})}" class="card-img-top img-ratio-control zoom-effect" alt="header" onerror="setHomeDefault(this.id,'image')">
                            </div>
                            <script th:inline="javascript">
                                function setHomeDefault(id, param){
                                    console.log(id);
                                    let parts = id.split('-'); // Разделяем строку по символу '-'
                                    let sportId = parts[parts.length - 1]; // Получаем последний элемент массива
                                    console.log(sportId);
                                    document.getElementById(id).onerror=null;
                                    document.getElementById(id).src='/img/default-' + param + '-' + sportId + '.webp'
                                }
                            </script>
                            <div class="card-body d-flex flex-column" style="height: 250px">
                                <div class="row">
                                    <div class="col">
                                        <p class="clamp-2 card-subtitle mb-2 fs-6" th:text="${event.getTitle()}" style="color: #335e94"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-inline date-card">
                                            <li class="list-inline-item"><i class="icon feather icon-calendar text-danger"></i></li>
                                            <li class="list-inline-item"><span th:text="${event.getBeginningDate()} + ' - ' + ${event.getEndingDate()}"></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="clamp-3 text-dark" th:text="${event.getLocation()}"></p>
                                    </div>
                                </div>
                                <div class="mt-auto">
                                    <hr>
                                    <small>
                                        <span class="text-danger" th:text="'#'"></span>
                                        <span class="text-dark" th:text="${event.getSport().getTitle()}"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
<script th:inline="javascript">
    let coords_s = 55.76;
    let coords_d = 80.64;
    let zoom = 3;
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function (position) {
            coords_s = position.coords.latitude;
            coords_d = position.coords.longitude;
            zoom = 5;
        });
    } else {
        console.log("Геолокация не поддерживается вашим браузером");
    }

    let ekpList = [[${ekpList}]];
    ymaps.ready(init);
    let map;

    function init() {
        map = new ymaps.Map('map', {
            center: [coords_s, coords_d],
            zoom: zoom,
            controls: ['zoomControl']
        }, {
            suppressMapOpenBlock: true // Убираем надпись "открыть в Яндекс.Картах"
        });

        let features = [];
        for (let i = 0; i < ekpList.length; i++) {
            let detail = '' +
                '<div class="card" style="width: 18rem;">\n' +
                '   <img alt="header" class="card-img-top" src="/api/download?image=' + ekpList[i].imageId + '" style="object-fit: cover; height: 150px" onerror="this.onerror=null; this.src=\'/img/default-image-' + ekpList[i].sportId + '.webp\'">\n' +
                '   <div class="card-body">\n' +
                '       <div class="row">' +
                '           <div class="col">' +
                '               <div class="row">' +
                '                   <div class="col">' +
                '                       <h5 class="card-title">' + ekpList[i].title + '</h5>' +
                '                   </div>' +
                '               </div>' +
                '           </div>' +
                '       </div>' +
                '       <div class="row">' +
                '           <div class="col">' +
                '               <div class="row">' +
                '                   <div class="col">' +
                '                       <p>№ В ЕКП ' + ekpList[i].ekp + '</p>' +
                '                   </div>' +
                '               </div>' +
                '           </div>' +
                '       </div>' +
                '       <div class="row">' +
                '           <div class="col">' +
                '               <div class="row">' +
                '                   <div class="col">' +
                '                       <small class="card-text"><i class="bi bi-calendar3"></i>' + ekpList[i].beginningDate + ' - ' + ekpList[i].endingDate + '</p>\n' +
                '                   </div>' +
                '               </div>' +
                '           </div>' +
                '       </div>' +
                '       <div class="row">' +
                '           <div class="col">' +
                '               <div class="row">' +
                '                   <div class="col">' +
                '                       <p>' + ekpList[i].category + '</p>' +
                '                   </div>' +
                '               </div>' +
                '           </div>' +
                '       </div>' +
                '       <div class="row">' +
                '           <div class="col">' +
                '               <div class="row">' +
                '                   <div class="col">' +
                '       <a href="/event/show?eventId=' + ekpList[i].id + '" class="btn btn-link">Карточка соревнования</a>\n' +
                '                   </div>' +
                '               </div>' +
                '           </div>' +
                '       </div>' +
                '   </div>\n' +
                '</div>'
            features[i] = {
                type: "Feature",
                id: i,
                geometry: {
                    type: "Point",
                    coordinates: [ekpList[i].s, ekpList[i].d]
                },
                properties: {
                    balloonContent: detail,
                    balloonContentHeader: ekpList[i].title
                },
                options: {
                    preset: ekpList[i].present
                }
            }
        }

        let collection = {
            type: "FeatureCollection",
            features: features
        };
        // Object Manager
        objectManager = new ymaps.ObjectManager({
            clusterize: true,
            /*clusterIconColor: 'red'*/
        });
        objectManager.add(collection);
        map.geoObjects.add(objectManager);

        let bounds = objectManager.getBounds();
        map.setBounds(bounds, {checkZoomRange: true});
    }

    function showEkp(){
        let sportName = $('#input-sport').val();
        let onlyDate = $('#date-picker').val();
        let beginningDate = $('#date-picker-beginning').val();
        let endingDate = $('#date-picker-ending').val();

        if(sportName !== ''){
            if(onlyDate !== ''){
                $.ajax({
                    url: '/api/get/ekp/by/sport/date',
                    type: 'get',
                    data: {
                        sport: sportName,
                        date: onlyDate
                    },
                    success: function (ekpList) {
                        updateByEkpData(ekpList);
                    }
                });
            }else{
                $.ajax({
                    url: '/api/get/ekp/by/sport/period',
                    type: 'get',
                    data: {
                        sport: sportName,
                        begin: beginningDate,
                        end: endingDate
                    },
                    success: function (ekpList) {
                        updateByEkpData(ekpList);
                    }
                });
            }
        }else{
            objectManager.removeAll();
            map.setCenter([coords_s,coords_d]);
            map.setZoom(5);
        }
    }

    function updateByDate() {
        let date = document.getElementById('date-picker').value;
        $.ajax({
            url: '/api/get/ekp/by/date',
            type: 'get',
            data: {
                query: date
            },
            success: function (ekpList) {
                updateByEkpData(ekpList);
            }
        });
    }

    function showEkpOnMapBySport(){
        let request = $('#input-sport').val();
        $.ajax({
            url: '/api/get/ekp/by/sport',
            type: 'get',
            data: {
                query: request
            },
            success: function (ekpList) {
                updateByEkpData(ekpList);
            }
        });
    }

    function updateByEkpData(ekpList){
        objectManager.removeAll();
        let features = [];
        for (let i = 0; i < ekpList.length; i++) {

            let detail = '' +
                '<div class="card" style="width: 18rem;">\n' +
                '   <img alt="header" class="card-img-top" src="/api/download?image=' + ekpList[i].imageId + '" style="object-fit: cover; height: 150px" onerror="this.onerror=null; this.src=\'/img/default-image-' + ekpList[i].sportId + '.webp\'">\n' +
                '   <div class="card-body">\n' +
                '       <div class="row">' +
                '           <div class="col">' +
                '               <div class="row">' +
                '                   <div class="col">' +
                '                       <h5 class="card-title">' + ekpList[i].title + '</h5>' +
                '                   </div>' +
                '               </div>' +
                '           </div>' +
                '       </div>' +
                '       <div class="row">' +
                '           <div class="col">' +
                '               <div class="row">' +
                '                   <div class="col">' +
                '                       <p>№ В ЕКП ' + ekpList[i].ekp + '</p>' +
                '                   </div>' +
                '               </div>' +
                '           </div>' +
                '       </div>' +
                '       <div class="row">' +
                '           <div class="col">' +
                '               <div class="row">' +
                '                   <div class="col">' +
                '                       <small class="card-text"><i class="bi bi-calendar3"></i>' + ekpList[i].beginningDate + ' - ' + ekpList[i].endingDate + '</p>\n' +
                '                   </div>' +
                '               </div>' +
                '           </div>' +
                '       </div>' +
                '       <div class="row">' +
                '           <div class="col">' +
                '               <div class="row">' +
                '                   <div class="col">' +
                '                       <p>' + ekpList[i].category + '</p>' +
                '                   </div>' +
                '               </div>' +
                '           </div>' +
                '       </div>' +
                '       <div class="row">' +
                '           <div class="col">' +
                '               <div class="row">' +
                '                   <div class="col">' +
                '                       <a href="/event/show?eventId=' + ekpList[i].id + '" class="btn btn-link">Карточка соревнования</a>\n' +
                '                   </div>' +
                '               </div>' +
                '           </div>' +
                '       </div>' +
                '   </div>\n' +
                '</div>'

            features[i] = {
                type: "Feature",
                id: i,
                geometry: {
                    type: "Point",
                    coordinates: [ekpList[i].s, ekpList[i].d]
                },
                properties: {
                    balloonContent: detail,
                    balloonContentHeader: ekpList[i].title
                },
                options: {
                    preset: ekpList[i].present
                }
            }
        }

        let collection = {
            type: "FeatureCollection",
            features: features
        };
        // Object Manager
        objectManager = new ymaps.ObjectManager({
            clusterize: true,
            /*clusterIconColor: 'red'*/
        });
        objectManager.add(collection);
        map.geoObjects.add(objectManager);

        let bounds = objectManager.getBounds();
        map.setBounds(bounds, {checkZoomRange: true, duration: 2000});
    }
</script>