<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <label class="form-label" for="date-picker">Дата</label>
            <input type="date" class="form-control" id="date-picker" onchange="updateByDate()">
            <script th:inline="javascript">
                document.getElementById('date-picker').value = [[${currentDate}]];
            </script>
            <label class="form-label" for="exampleDataList1">Вид спорта</label>
            <input class="form-control" id="exampleDataList1" list="datalistOptions1" placeholder="Type to search...">
            <datalist id="datalistOptions1">
                <option value="Фристайл">
                <option value="Футбол">
                <option value="Хоккей">
                <option value="Радиоспорт">
            </datalist>
            <label class="form-label" for="exampleDataList2">Город</label>
            <input class="form-control" id="exampleDataList2" list="datalistOptions2" placeholder="Type to search...">
            <datalist id="datalistOptions2">
                <option value="Фристайл">
                <option value="Футбол">
                <option value="Хоккей">
                <option value="Радиоспорт">
            </datalist>
            <div class="btn-group pt-3" role="group">
                <button class="btn btn-secondary" type="button">Показать</button>
                <button class="btn btn-outline-secondary" type="button">Сбросить</button>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12">
            <div class="row">
                <div class="col">
                    <h1 class="main-title">Спортивные события на карте страны</h1>
                    <div id="map" style="width: 100%; height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <main class="pt-3">
            <h1 class="main-title">Главные спортивные события</h1>
            <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 g-4 mb-2 pt-2">
                <div class="col">
                    <div class="card">
                        <img alt="..." class="card-img-top" src="/img/anons-1.png">
                        <div class="card-body minbloc">
                            <h6 class="card-subtitle mb-2 text-muted"><i data-feather="star"></i> Парусный спорт
                            </h6>
                            <ul class="list-inline date-card">
                                <li class="list-inline-item">
                                    <svg class="bi bi-calendar-date" fill="currentColor" height="16"
                                         viewBox="0 0 16 16"
                                         width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                    </svg>
                                </li>
                                <li class="list-inline-item">4.02.2022 - 10.02.2022</li>
                            </ul>
                            <h5 class="card-title">ФПС Армении приглашает россиян на регату на озере Севан</h5>
                            <p class="card-text">4-10 августа 2024 года на базе Армянской федерации парусного спорта
                                в
                                городе Севан на живописной акватории озера Севан пройдут традиционные соревнования
                                «Мемориал И.С. Исакова» с участием классов Оптимист и Луч-мини.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img alt="..." class="card-img-top" src="/img/anons-3.png">
                        <div class="card-body minbloc">
                            <h6 class="card-subtitle mb-2 text-muted">Радиоспорт</h6>
                            <ul class="list-inline date-card">
                                <li class="list-inline-item">
                                    <svg class="bi bi-calendar-date" fill="currentColor" height="16"
                                         viewBox="0 0 16 16"
                                         width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                    </svg>
                                </li>
                                <li class="list-inline-item">25.02.2022</li>
                            </ul>

                            <h5 class="card-title">Чемпионат Москвы по радиосвязи на КВ-телеграф</h5>
                            <p class="card-text">Дворовая территория (г. Москва, улица Тёплый Стан, дом 15, корпус
                                6),
                                по месту нахождения участников (г. Москва)</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img alt="..." class="card-img-top" src="/img/anons-4.png">
                        <div class="card-body minbloc">
                            <h6 class="card-subtitle mb-2 text-muted">Парусный спорт</h6>
                            <ul class="list-inline date-card">
                                <li class="list-inline-item">
                                    <svg class="bi bi-calendar-date" fill="currentColor" height="16"
                                         viewBox="0 0 16 16"
                                         width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                    </svg>
                                </li>
                                <li class="list-inline-item">
                                <li class="list-inline-item">2.02.2022 - 10.02.2022</li>
                                </li>
                            </ul>
                            <h5 class="card-title">Имеретинский командный кубок</h5>
                            <p class="card-text">
                                2-8 марта в яхтенном порту «Имеретинский» на базе парусного клуба Sail in Sochi
                                пройдут
                                межрегиональные соревнования по командным гонкам в классе Оптимист.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img alt="..." class="card-img-top" src="/img/anons-2.png">
                        <div class="card-body minbloc">
                            <h6 class="card-subtitle mb-2 text-muted">Радиоспорт</h6>
                            <ul class="list-inline date-card">
                                <li class="list-inline-item">
                                    <svg class="bi bi-calendar-date" fill="currentColor" height="16"
                                         viewBox="0 0 16 16"
                                         width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                    </svg>
                                </li>
                                <li class="list-inline-item">25.02.2022</li>
                            </ul>
                            <h5 class="card-title">Крымская Весна-2024</h5>
                            <p class="card-text">В честь 10-ой годовщины референдума и принятия Республики Крым и
                                города
                                Севастополя в Российскую Федерацию РО СРР по Республике Крым и городу Севастополю
                                организовало и проводит в период с 00:00 UTC 16 марта до 23:59 UTC 31 марта 2024
                                года
                                Дни активности радиолюбителей Республики Крым (R6K) и города Севастополя (R6R).</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script th:inline="javascript">
    let coords_s = 55.76;
    let coords_d = 80.64;
    let zoom = 3;
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
            coords_s = position.coords.latitude;
            coords_d = position.coords.longitude;
            zoom = 5;
        });
    } else {
        console.log("Геолокация не поддерживается вашим браузером");
    }

    let ekpList = [[${ekpList}]];
    ymaps.ready(init);
    let map;
    function init() {
        map = new ymaps.Map('map', {
            center: [coords_s, coords_d],
            zoom: zoom,
            controls: ['zoomControl', 'fullscreenControl']
        });

        let features = [];
        for (let i = 0; i < ekpList.length; i++) {
            let detail = '' +
                '<div class="card" style="width: 18rem;">\n' +
                '  <img alt="..." class="card-img-top" src="/img/anons-1.png">\n' +
                '  <div class="card-body">\n' +
                '    <h5 class="card-title">' + ekpList[i].title + '</h5>\n' +
                '    <p>ЕКП № ' + ekpList[i].ekp + '</p>' +
                '    <small class="card-text"><i class="bi bi-calendar3"></i>' + ekpList[i].beginningDate + ' - ' + ekpList[i].endingDate + '</p>\n' +
                '    <a href="#" class="btn btn-link">Карточка соревнования</a>\n' +
                '  </div>\n' +
                '</div>'
            features[i] = {
                type: "Feature",
                id: i,
                geometry: {
                    type: "Point",
                    coordinates: [ekpList[i].s, ekpList[i].d]
                },
                properties: {
                    balloonContent: detail
                },
                options: {
                    preset: ekpList[i].present
                }
            }
        }

        let collection = {
            type: "FeatureCollection",
            features: features
        };
        // Object Manager
        objectManager = new ymaps.ObjectManager({
            clusterize: true,
            /*clusterIconColor: 'red'*/
        });
        objectManager.add(collection);
        map.geoObjects.add(objectManager);

        let bounds = objectManager.getBounds();
        map.setBounds(bounds,{checkZoomRange: true});
    }

    function updateByDate(){
        let date = document.getElementById('date-picker').value;
        $.ajax({
            url: '/api/get/date',
            type: 'get',
            data: {
                query: date
            },
            success: function(ekpList) {
                objectManager.removeAll();
                let features = [];
                for (let i = 0; i < ekpList.length; i++) {

                    let detail = '' +
                        '<div class="card" style="width: 18rem;">\n' +
                        '  <img alt="..." class="card-img-top" src="/img/anons-1.png">\n' +
                        '  <div class="card-body">\n' +
                        '    <h5 class="card-title">' + ekpList[i].title + '</h5>\n' +
                        '    <p>ЕКП № ' + ekpList[i].ekp + '</p>' +
                        '    <small class="card-text"><i class="bi bi-calendar3"></i>' + ekpList[i].beginningDate + ' - ' + ekpList[i].endingDate + '</p>\n' +
                        '    <a href="#" class="btn btn-link">Карточка соревнования</a>\n' +
                        '  </div>\n' +
                        '</div>'

                    features[i] = {
                        type: "Feature",
                        id: i,
                        geometry: {
                            type: "Point",
                            coordinates: [ekpList[i].s, ekpList[i].d]
                        },
                        properties: {
                            balloonContent: detail
                        },
                        options: {
                            preset: ekpList[i].present
                        }
                    }
                }

                let collection = {
                    type: "FeatureCollection",
                    features: features
                };
                // Object Manager
                objectManager = new ymaps.ObjectManager({
                    clusterize: true,
                    /*clusterIconColor: 'red'*/
                });
                objectManager.add(collection);
                map.geoObjects.add(objectManager);

                let bounds = objectManager.getBounds();
                map.setBounds(bounds,{checkZoomRange: true, duration: 2000});
            }
        });
    }

    function getZoomFromBounds(bounds) {
        var worldWidth = 40075017; // Длина экватора в метрах
        var mapWidth = map.container.getSize()[0];
        var distance = ymaps.coordSystem.geo.getDistance(bounds[0], bounds[1]);
        var zoom = Math.log2(worldWidth * mapWidth / distance / 256);
        return Math.round(zoom);
    }
</script>