<div class="container">
    <div class="row">
        <div class="col d-flex align-items-center" style="height: 500px">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/img/logo.png" class="card-img-top p-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Вы успешно зарегистрировались</h5>
                    <p class="card-text">Пароль от вашей учетной записи выслан на вашу электронную почту.</p>
                    <!--<hr>
                    <a href="#" class="btn btn-outline-secondary">Регистрация</a>-->
                </div>
            </div>
        </div>
    </div>
</div>