<div class="container">
    <div class="row">
        <div class="col d-flex align-items-center" id="information-card">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/img/logo.png" class="card-img-top p-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Вы успешно зарегистрировались</h5>
                    <p class="card-text">Пароль от вашей учетной записи выслан на вашу электронную почту.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('information-card').setAttribute('style','height:' + window.innerHeight / 1.5 + 'px')
</script>