<div class="container">

    <div class="row pt-4">
        <div class="col">
            <h2>
                <small class="text-dark">Новости из мира спорта</small>
            </h2>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <div class="row px-3">
                <div class="col-2 d-flex align-items-center" th:if="${accessCreate}">
                    <div class="d-grid" style="width: 100%">
                        <a class="btn btn-outline-secondary" th:href="@{/news/add}">Добавить новость</a>
                    </div>
                </div>

                <div class="col py-2 px-2">
                    <input type="text" class="form-control" id="news-search" placeholder="Поиск новостей по темам" oninput="searchNews()">
                </div>
            </div>
        </div>
    </div>

    <div id="news-container" class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 justify-content-center">
        <div th:each="news : ${newsList}" class="col p-4">
            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">
                <div class="col d-flex flex-column">
                    <div class="row px-4 pt-3">
                        <div class="col">
                            <p class="fs-4 text-dark" th:text="${news.title}"></p>
                        </div>
                    </div>
                    <div class="row px-4 pt-3">
                        <div class="col">
                            <p class="fs-5 text-secondary" th:text="${news.annotation}"></p>
                        </div>
                    </div>
                    <div class="row px-4 py-3 mt-auto">
                        <div class="col text-end">
                            <div class="row">
                                <a th:href="@{/news/show(news=${news.id})}">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-center bg-light" th:if="${accessUpdate}">
                    <a th:href="@{/news/edit(news=${news.id})}">
                        <i class="fs-3 text-secondary bi bi-pencil-square"></i>
                    </a>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-center" th:if="${accessDelete}">
                    <a th:href="@{/news/delete(news=${news.id})}">
                        <i class="fs-3 text-danger bi bi-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col d-lg-block d-md-block d-sm-none"></div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="d-grid gap-2">
                <button id="btn-next-news" class="btn btn-outline-secondary" type="button" onclick="getNext()">Посмотреть еще</button>
            </div>
        </div>
        <div class="col d-lg-block d-md-block d-sm-none"></div>
    </div>

</div>

<script th:inline="javascript">
    let nList = [[${newsList}]];
    let accessUpdate = [[${accessUpdate}]];
    let accessDelete = [[${accessDelete}]];

    function searchNews(){
        let sValue = $('#news-search').val();
        if(sValue !== ''){
            $('#btn-next-news').hide();
            $.ajax({
                url: '/api/search/news',
                type: 'get',
                data: {
                    search: sValue
                },
                success: function(newsList) {
                    $('#news-container').empty();
                    if(accessUpdate && accessDelete){
                        newsList.forEach(function (news){
                            $('#news-container').append(
                                '       <div class="col p-4">\n' +
                                '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                                '                <div class="col d-flex flex-column">\n' +
                                '                    <div class="row px-4 pt-3">\n' +
                                '                        <div class="col">\n' +
                                '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                    <div class="row px-4 pt-3">\n' +
                                '                        <div class="col">\n' +
                                '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                    <div class="row px-4 py-3 mt-auto">\n' +
                                '                        <div class="col text-end">\n' +
                                '                            <div class="row">\n' +
                                '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                                '                            </div>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '                <div class="col-1 d-flex align-items-center justify-content-center bg-light">\n' +
                                '                    <a href="/news/edit?news=' + news.id + '">\n' +
                                '                        <i class="fs-3 text-secondary bi bi-pencil-square"></i>\n' +
                                '                    </a>\n' +
                                '                </div>\n' +
                                '                <div class="col-1 d-flex align-items-center justify-content-center">\n' +
                                '                    <a href="/news/delete?news=' + news.id + '">\n' +
                                '                        <i class="fs-3 text-danger bi bi-trash"></i>\n' +
                                '                    </a>\n' +
                                '                </div>' +
                                '            </div>\n' +
                                '        </div>'
                            );
                        });
                    }else if(accessUpdate && !accessDelete){
                        newsList.forEach(function (news){
                            $('#news-container').append(
                                '       <div class="col p-4">\n' +
                                '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                                '                <div class="col d-flex flex-column">\n' +
                                '                    <div class="row px-4 pt-3">\n' +
                                '                        <div class="col">\n' +
                                '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                    <div class="row px-4 pt-3">\n' +
                                '                        <div class="col">\n' +
                                '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                    <div class="row px-4 py-3 mt-auto">\n' +
                                '                        <div class="col text-end">\n' +
                                '                            <div class="row">\n' +
                                '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                                '                            </div>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '                <div class="col-1 d-flex align-items-center justify-content-center bg-light">\n' +
                                '                    <a href="/news/edit?news=' + news.id + '">\n' +
                                '                        <i class="fs-3 text-secondary bi bi-pencil-square"></i>\n' +
                                '                    </a>\n' +
                                '                </div>\n' +
                                '            </div>\n' +
                                '        </div>'
                            );
                        });
                    }else if(!accessUpdate && accessDelete){
                        newsList.forEach(function (news){
                            $('#news-container').append(
                                '       <div class="col p-4">\n' +
                                '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                                '                <div class="col d-flex flex-column">\n' +
                                '                    <div class="row px-4 pt-3">\n' +
                                '                        <div class="col">\n' +
                                '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                    <div class="row px-4 pt-3">\n' +
                                '                        <div class="col">\n' +
                                '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                    <div class="row px-4 py-3 mt-auto">\n' +
                                '                        <div class="col text-end">\n' +
                                '                            <div class="row">\n' +
                                '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                                '                            </div>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '                <div class="col-1 d-flex align-items-center justify-content-center">\n' +
                                '                    <a href="/news/delete?news=' + news.id + '">\n' +
                                '                        <i class="fs-3 text-danger bi bi-trash"></i>\n' +
                                '                    </a>\n' +
                                '                </div>' +
                                '            </div>\n' +
                                '        </div>'
                            );
                        });
                    }else{
                        newsList.forEach(function (news){
                            $('#news-container').append(
                                '       <div class="col p-4">\n' +
                                '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                                '                <div class="col d-flex flex-column">\n' +
                                '                    <div class="row px-4 pt-3">\n' +
                                '                        <div class="col">\n' +
                                '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                    <div class="row px-4 pt-3">\n' +
                                '                        <div class="col">\n' +
                                '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                    <div class="row px-4 py-3 mt-auto">\n' +
                                '                        <div class="col text-end">\n' +
                                '                            <div class="row">\n' +
                                '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                                '                            </div>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '            </div>\n' +
                                '        </div>'
                            );
                        });
                    }
                }
            });
        }else{
            $('#news-container').empty();
            if(accessUpdate && accessDelete){
                newsList.forEach(function (news){
                    $('#news-container').append(
                        '       <div class="col p-4">\n' +
                        '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                        '                <div class="col d-flex flex-column">\n' +
                        '                    <div class="row px-4 pt-3">\n' +
                        '                        <div class="col">\n' +
                        '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                    <div class="row px-4 pt-3">\n' +
                        '                        <div class="col">\n' +
                        '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                    <div class="row px-4 py-3 mt-auto">\n' +
                        '                        <div class="col text-end">\n' +
                        '                            <div class="row">\n' +
                        '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '                <div class="col-1 d-flex align-items-center justify-content-center bg-light">\n' +
                        '                    <a href="/news/edit?news=' + news.id + '">\n' +
                        '                        <i class="fs-3 text-secondary bi bi-pencil-square"></i>\n' +
                        '                    </a>\n' +
                        '                </div>\n' +
                        '                <div class="col-1 d-flex align-items-center justify-content-center">\n' +
                        '                    <a href="/news/delete?news=' + news.id + '">\n' +
                        '                        <i class="fs-3 text-danger bi bi-trash"></i>\n' +
                        '                    </a>\n' +
                        '                </div>' +
                        '            </div>\n' +
                        '        </div>'
                    );
                });
            }else if(accessUpdate && !accessDelete){
                newsList.forEach(function (news){
                    $('#news-container').append(
                        '       <div class="col p-4">\n' +
                        '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                        '                <div class="col d-flex flex-column">\n' +
                        '                    <div class="row px-4 pt-3">\n' +
                        '                        <div class="col">\n' +
                        '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                    <div class="row px-4 pt-3">\n' +
                        '                        <div class="col">\n' +
                        '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                    <div class="row px-4 py-3 mt-auto">\n' +
                        '                        <div class="col text-end">\n' +
                        '                            <div class="row">\n' +
                        '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '                <div class="col-1 d-flex align-items-center justify-content-center bg-light">\n' +
                        '                    <a href="/news/edit?news=' + news.id + '">\n' +
                        '                        <i class="fs-3 text-secondary bi bi-pencil-square"></i>\n' +
                        '                    </a>\n' +
                        '                </div>\n' +
                        '            </div>\n' +
                        '        </div>'
                    );
                });
            }else if(!accessUpdate && accessDelete){
                newsList.forEach(function (news){
                    $('#news-container').append(
                        '       <div class="col p-4">\n' +
                        '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                        '                <div class="col d-flex flex-column">\n' +
                        '                    <div class="row px-4 pt-3">\n' +
                        '                        <div class="col">\n' +
                        '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                    <div class="row px-4 pt-3">\n' +
                        '                        <div class="col">\n' +
                        '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                    <div class="row px-4 py-3 mt-auto">\n' +
                        '                        <div class="col text-end">\n' +
                        '                            <div class="row">\n' +
                        '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '                <div class="col-1 d-flex align-items-center justify-content-center">\n' +
                        '                    <a href="/news/delete?news=' + news.id + '">\n' +
                        '                        <i class="fs-3 text-danger bi bi-trash"></i>\n' +
                        '                    </a>\n' +
                        '                </div>' +
                        '            </div>\n' +
                        '        </div>'
                    );
                });
            }else{
                newsList.forEach(function (news){
                    $('#news-container').append(
                        '       <div class="col p-4">\n' +
                        '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                        '                <div class="col d-flex flex-column">\n' +
                        '                    <div class="row px-4 pt-3">\n' +
                        '                        <div class="col">\n' +
                        '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                    <div class="row px-4 pt-3">\n' +
                        '                        <div class="col">\n' +
                        '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                    <div class="row px-4 py-3 mt-auto">\n' +
                        '                        <div class="col text-end">\n' +
                        '                            <div class="row">\n' +
                        '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '            </div>\n' +
                        '        </div>'
                    );
                });
            }
        }
    }

    let pageCount = 0;
    function getNext(){
        pageCount++;
        $.ajax({
            url: '/api/get/next/news',
            type: 'get',
            data: {
                stack:pageCount
            },
            success: function (newsList) {
                if(accessUpdate && accessDelete){
                    newsList.forEach(function (news){
                        $('#news-container').append(
                            '       <div class="col p-4">\n' +
                            '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                            '                <div class="col d-flex flex-column">\n' +
                            '                    <div class="row px-4 pt-3">\n' +
                            '                        <div class="col">\n' +
                            '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                    <div class="row px-4 pt-3">\n' +
                            '                        <div class="col">\n' +
                            '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                    <div class="row px-4 py-3 mt-auto">\n' +
                            '                        <div class="col text-end">\n' +
                            '                            <div class="row">\n' +
                            '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                </div>\n' +
                            '                <div class="col-1 d-flex align-items-center justify-content-center bg-light">\n' +
                            '                    <a href="/news/edit?news=' + news.id + '">\n' +
                            '                        <i class="fs-3 text-secondary bi bi-pencil-square"></i>\n' +
                            '                    </a>\n' +
                            '                </div>\n' +
                            '                <div class="col-1 d-flex align-items-center justify-content-center">\n' +
                            '                    <a href="/news/delete?news=' + news.id + '">\n' +
                            '                        <i class="fs-3 text-danger bi bi-trash"></i>\n' +
                            '                    </a>\n' +
                            '                </div>' +
                            '            </div>\n' +
                            '        </div>'
                        );
                    });
                }else if(accessUpdate && !accessDelete){
                    newsList.forEach(function (news){
                        $('#news-container').append(
                            '       <div class="col p-4">\n' +
                            '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                            '                <div class="col d-flex flex-column">\n' +
                            '                    <div class="row px-4 pt-3">\n' +
                            '                        <div class="col">\n' +
                            '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                    <div class="row px-4 pt-3">\n' +
                            '                        <div class="col">\n' +
                            '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                    <div class="row px-4 py-3 mt-auto">\n' +
                            '                        <div class="col text-end">\n' +
                            '                            <div class="row">\n' +
                            '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                </div>\n' +
                            '                <div class="col-1 d-flex align-items-center justify-content-center bg-light">\n' +
                            '                    <a href="/news/edit?news=' + news.id + '">\n' +
                            '                        <i class="fs-3 text-secondary bi bi-pencil-square"></i>\n' +
                            '                    </a>\n' +
                            '                </div>\n' +
                            '            </div>\n' +
                            '        </div>'
                        );
                    });
                }else if(!accessUpdate && accessDelete){
                    newsList.forEach(function (news){
                        $('#news-container').append(
                            '       <div class="col p-4">\n' +
                            '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                            '                <div class="col d-flex flex-column">\n' +
                            '                    <div class="row px-4 pt-3">\n' +
                            '                        <div class="col">\n' +
                            '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                    <div class="row px-4 pt-3">\n' +
                            '                        <div class="col">\n' +
                            '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                    <div class="row px-4 py-3 mt-auto">\n' +
                            '                        <div class="col text-end">\n' +
                            '                            <div class="row">\n' +
                            '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                </div>\n' +
                            '                <div class="col-1 d-flex align-items-center justify-content-center">\n' +
                            '                    <a href="/news/delete?news=' + news.id + '">\n' +
                            '                        <i class="fs-3 text-danger bi bi-trash"></i>\n' +
                            '                    </a>\n' +
                            '                </div>' +
                            '            </div>\n' +
                            '        </div>'
                        );
                    });
                }else{
                    newsList.forEach(function (news){
                        $('#news-container').append(
                            '       <div class="col p-4">\n' +
                            '            <div class="row container-zoom-in card-animation rounded-4 shadow justify-content-center my-4" style="height: 100%">\n' +
                            '                <div class="col d-flex flex-column">\n' +
                            '                    <div class="row px-4 pt-3">\n' +
                            '                        <div class="col">\n' +
                            '                            <p class="fs-4 text-dark">' + news.title + '</p>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                    <div class="row px-4 pt-3">\n' +
                            '                        <div class="col">\n' +
                            '                            <p class="fs-5 text-secondary">' + news.annotation + '</p>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                    <div class="row px-4 py-3 mt-auto">\n' +
                            '                        <div class="col text-end">\n' +
                            '                            <div class="row">\n' +
                            '                                <a href="/news/show?news=' + news.id + '">Читать</a>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                </div>\n' +
                            '            </div>\n' +
                            '        </div>'
                        );
                    });
                }

                if(newsList.length < 4){
                    document.getElementById('btn-next-news').disabled = true;
                }
            }
        });
    }
</script>