<div class="container">

    <div class="row pt-4">
        <div class="col-12">
            <a href="https://beartrack.ru">
                <img class="img-fluid" src="/img/banner.png" alt="bear-track">
            </a>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col">
            <h2>
                <small class="text-dark">Спортивные объекты России</small>
            </h2>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col">
            <!-- Тут будут фильтра -->
        </div>
    </div>
    <div class="row row-cols-auto g-5 g-lg-5 justify-content-center" id="object-container">

        <div class="col" th:each="object : ${objects}">
            <div class="card card-animation zoom-control rounded-4 shadow" style="width: 18rem; height: 25rem">
                <div class="card-img-container" style="width: 100%; height: 150px; border-radius: 1rem 1rem 0 0">
                    <img th:src="@{/api/download(image=${object.getImageIds().get(0)})}" class="zoom-effect img-ratio-control" alt="...">
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="row">
                        <p class="fs-5 text-secondary clamp" th:text="${object.getTitle()}"></p>
                        <p class="clamp" th:text="${object.getAddress()}" style="margin-bottom: 0;"></p>
                    </div>
                    <div class="row mt-auto">
                        <hr>
                        <p><span class="text-danger">#</span><b><span th:text="${object.getLocation()}"></span></b></p>
                        <a th:href="@{/object/show(object=${object.getId()})}">Карточка организации</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center pt-4">
        <div class="col d-none d-md-block"></div>
        <div class="col-6">
            <div class="d-grid gap-2">
                <button class="btn btn-outline-secondary" type="button" id="btn-next" onclick="getNext()">Показать еще</button>
                <script th:inline="javascript">
                    let count = 0;
                    function getNext(){
                        count++;
                        $.ajax({
                            url: '/api/get/next/object',
                            type: 'get',
                            data: {
                                stack:count
                            },
                            success: function (objects) {
                                objects.forEach(function (object) {
                                    $('#object-container').append(
                                        '<div class="col">\n' +
                                        '   <div class="card card-animation zoom-control rounded-4 shadow" style="width: 18rem; height: 25rem">\n' +
                                        '       <div class="card-img-container" style="width: 100%; height: 150px; border-radius: 1rem 1rem 0 0">\n' +
                                        '           <img src="/api/download?image=' + object.imageIds[0] + '" class="zoom-effect" alt="...">\n' +
                                        '       </div>' +
                                        '       <div class="card-body d-flex flex-column">\n' +
                                        '           <div class="row">\n' +
                                        '               <p class="clamp fs-5 text-secondary">' + object.title + '</p>\n' +
                                        '               <p class="clamp">' + object.address + '</p>\n' +
                                        '           </div>\n' +
                                        '           <div class="row mt-auto">\n' +
                                        '               <hr>\n' +
                                        '               <p><span class="text-danger">#</span><b><span>' + object.location + '</span></b></p>\n' +
                                        '               <a href="/object/show?object=' + object.id + '">Карточка организации</a>\n' +
                                        '           </div>\n' +
                                        '       </div>\n' +
                                        '   </div>\n' +
                                        '</div>'
                                    );
                                })
                                if(objects.length < 12){
                                    document.getElementById('btn-next').disabled = true;
                                }
                            }
                        });
                    }
                </script>
            </div>
        </div>
        <div class="col d-none d-md-block"></div>
    </div>
</div>