<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2><small class="text-secondary text-uppercase">
                Политика приватности
            </small></h2>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col text-end text-secondary">
            <p>Настоящая политика приватности описывает процесс обработки</p>
            <p>Ваших персональных данных в информационной системе «Домен Спорт».</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col text-secondary">
            <p class="fs-5 text-uppercase">Вы можете связаться в нами используя эти персональные данные:</p>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col text-end text-secondary">
            <p>105064, город Москва,</p>
            <p>ул. Казакова, д. 18</p>
            <p>8 (499) 941-13-01 доб. 538</p>
            <p>pdn@fcpsr.ru</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col text-secondary">
            <p class="fs-5 text-uppercase">Оглавление политики приватности</p>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-6"></div>
        <div class="col text-end">
            <div id="module-list">
                <p class="border-bottom py-2"><a href="#module-list-item-1" class="text-secondary" onclick="doSomething()">Терминология</a></p>
                <p class="border-bottom py-2"><a href="#module-list-item-2" class="text-secondary" onclick="doSomething()">Ваши права при обработке персональных данных</a></p>
                <p class="border-bottom py-2"><a href="#module-list-item-3" class="text-secondary" onclick="doSomething()">Как Вы можете реализовать ваши права</a></p>
                <p class="border-bottom py-2"><a href="#module-list-item-4" class="text-secondary" onclick="doSomething()">Как мы обрабатываем Ваши персональные данные</a></p>
                <p class="border-bottom py-2"><a href="#module-list-item-5" class="text-secondary" onclick="doSomething()">Аналитика «Домена Сорт»</a></p>
                <p class="py-2"><a href="#module-list-item-6" class="text-secondary">Передача 3-им лицам</a></p>
                <script>
                    function doSomething(){
                        setTimeout(function (){
                            hideSpinner();
                        },500)
                    }
                </script>
            </div>
        </div>
    </div>
    <hr>
    <div class="scrollspy-example" data-bs-spy="scroll" data-bs-target="#module-list" data-bs-offset="0" data-bs-smooth-scroll="true" tabindex="0">
        <div class="row">
            <div class="col text-secondary">
                <p class="fs-5 text-uppercase" id="module-list-item-1">Терминология</p>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-6"></div>
            <div class="col text-secondary">
                <p><b>Персональные данные</b> — это любая информация о Вас, которая косвенно относится к Вам или позволят Вас определить.</p>
                <br>
                <p><b>Оператор персональных данных</b> - юридическое или физическое лицо, осуществляющие обработку персональных данных. При посещении нашего сайта мы являемся оператором ваших персональных данных.</p>
                <br>
                <p><b>Обработка персональных данных</b> - любые действия совершенные с Вашими персональными данными.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-secondary">
                <p class="fs-5 text-uppercase" id="module-list-item-2">Ваши права при обработке персональных данных</p>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-6"></div>
            <div class="col text-secondary">
                <p class="border-bottom">На доступ к персональным данным.</p><br>
                <p class="border-bottom">На уточнение персональных данных.</p><br>
                <p class="border-bottom">На блокирование и удаление персональных данных.</p><br>
                <p class="border-bottom">На обжалование наших действий или нашего бездействия.</p><br>
                <p>На отзыв согласия на обработку персональных данных.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-secondary">
                <p class="fs-5 text-uppercase" id="module-list-item-3">Как Вы можете реализовать ваши права</p>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-6"></div>
            <div class="col text-secondary">
                <p>
                    Написать запрос на наш адрес 105064, г. Москва, вн.тер.г.
                    Муниципальный Округ Басманный, ул Казакова, д. 18, стр. 1, указав
                    в нем сведения о документе, удостоверяющем вашу личность или
                    личность вашего представителя (тип документа, серия и номер,
                    кем и когда выдан), ваше ФИО или ФИО представителя, информацию о наших
                    взаимоотношениях с вами, в ходе которых мы получили ваши персональные данные.
                    Пожалуйста, не забудьте подписать свой запрос.
                </p><br>
                <p>
                    Вы можете отправить запрос по электронной почте pdn@fcpsr.ru, в
                    этом случае запрос должен быть в форме электронного документа,
                    подписанного в соответствии с положениями законодательства
                    Российской Федерации об электронной подписи.
                </p><br>
                <p>
                    Также вы можете позвонить по телефону- 8 (499) 941-13-01 доб. 538
                </p><br>
                <p>
                    Обжаловать наши действия как оператора персональных данных вы можете в территориальном органе <a th:href="@{https://pd.rkn.gov.ru/authority/authority-contacts/}">Роскомнадзора</a>
                </p><br>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-secondary">
                <p class="fs-5 text-uppercase" id="module-list-item-4">Как мы обрабатываем Ваши персональные данные</p>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-6"></div>
            <div class="col text-secondary">
                <p>
                    Для достижения перечисленных ниже целей мы будем собирать, записывать,
                    систематизировать, накапливать, хранить, уточнять (обновлять, изменять),
                    извлекать, использовать, передавать (предоставлять, обеспечивать доступ),
                    блокировать, удалять, уничтожать персональные данные.
                </p><br>
                <p class="text-end border-bottom"><b>Регистрация в Домене Спорт</b></p>
                <p class="text-end">ФИО</p>
                <p class="text-end">Город проживания</p>
                <p class="text-end">Адрес электронной почты</p>
                <p class="text-end border-bottom">Возраст</p>
                <p class="pt-3">
                    Обрабатываемые в рамках указанной цели персональные данные не относятся
                    к специальным категориям или биометрическим в соответствии со ст. 10–11 152-ФЗ
                    и обрабатываются автоматизированным образом.
                </p><br>
                <p>
                    Основанием для обработки ваших персональных данных в этом
                    процессе является согласие на обработку персональных данных.
                </p><br>
                <p>
                    Мы уничтожим ваши персональные данные в течение 30 дней, как только вы совершите
                    отзыв своих персональных данных либо не будите входить в свой личный кабинет
                    в течении 500 дней, либо мы прекратим поддержку Домена Спорт в соответствии
                    с ч. 4-5 ст. 21 152-ФЗ, в зависимости от того, что произойдет раньше.
                </p><br>
                <p>
                    При наступлении указанных выше условий ваши персональные данные уничтожаются
                    путем удаления из информационной системы с помощью встроенных средств информационной системы.
                </p><br>
                <p class="text-end border-bottom"><b>Подписка на рассылку</b></p>
                <p class="text-end">ФИО</p>
                <p class="text-end border-bottom">Адрес электронной почты</p><br>
                <p>
                    Обрабатываемые в рамках указанной цели персональные данные не относятся к специальным категориям
                    или биометрическим в соответствии со ст. 10–11 152-ФЗ и обрабатываются автоматизированным образом.
                </p><br>
                <p>
                    Основанием для обработки ваших персональных данных в этом процессе является согласие на обработку персональных данных.
                </p><br>
                <p>
                    Мы уничтожим ваши персональные данные в течение 30 дней, как только вы отпишитесь от нашей
                    рассылки, или если мы перестанем проводить ее до того, как вы отпишетесь в соответствии
                    с ч. 4-5 ст. 21 152-ФЗ, в зависимости от того, что произойдет раньше.
                </p><br>
                <p>
                    При наступлении указанных выше условий ваши персональные данные уничтожаются путем удаления из
                    информационной системы с помощью встроенных средств информационной системы.
                </p><br>
            </div>
        </div>
        <hr>
    </div>
</div>