<div class="container">
    <div class="row">
        <div class="col">
            <div class="row py-2">
                <div class="col text-center">
                    <h2><small class="text-secondary">Профиль пользователя<span th:text="' ' + ${appUser.getFullName()}"></span></small></h2>
                </div>
            </div>
            <div class="row border border-secondary border-2 rounded-3" th:object="${message}" th:if="${admin}">
                <div class="row bg-secondary">
                    <p class="text-center text-white fs-3"><small>Отправить пользователю приглашение на регистрацию</small></p>
                </div>
                <form class="container" th:method="POST" th:action="@{/principal/mail/send}">
                    <div class="row">
                        <div class="col p-2">
                            <div class="mb-3">
                                <label for="mail" class="form-label">Электронная почта</label>
                                <input type="email" class="form-control" id="mail" placeholder="name@example.com" th:field="*{mail}">
                                <div th:if="${#fields.hasErrors('mail')}">
                                    <div class="col fs-5 text-danger ms-1">
                                        <p th:errors="*{mail}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col p-2">
                            <div class="mb-3">
                                <label for="role" class="form-label">Роль</label>
                                <select class="form-select" id="role" th:field="*{role}">
                                    <option th:each="role : ${roleList}" th:value="${role}" th:text="${role.getTitle()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col p-2">
                            <div class="mb-3">
                                <input id="hidden-input" type="number" th:field="*{sportId}" hidden>
                                <label for="sport" class="form-label">Группа (Вид спорта)</label>
                                <input type="text" class="form-control" list="sport-datalist" id="sport" onchange="setupSportId(this.value)">
                                <datalist id="sport-datalist"></datalist>
                                <div th:if="${#fields.hasErrors('sportId')}">
                                    <div class="col fs-5 text-danger ms-1">
                                        <p th:errors="*{sportId}"></p>
                                    </div>
                                </div>
                                <script th:inline="javascript">
                                    $('#sport').on('input',function (){
                                       let search = $('#sport').val();
                                        $.ajax({
                                            url: '/api/get/sports',
                                            type: 'get',
                                            data: {
                                                query: search,
                                            },
                                            success: function (sports) {
                                                $('#sport-datalist').empty();
                                                sports.forEach(function (sport){
                                                   $('#sport-datalist').append(
                                                       '<option data-item="' + JSON.stringify(sport).replace(/"/g, '&quot;') + '" value="' + sport.title + '">' + sport.title + '</option>'
                                                   );
                                                });
                                            }
                                        });
                                    });

                                    function setupSportId(dataValue){
                                        let data = getData(dataValue);
                                        document.getElementById('hidden-input').value = data.id;
                                    }

                                    function getData(dataValue){
                                        let options = document.getElementById('sport-datalist').options;
                                        let data = null;
                                        for (let i = 0; i < options.length; i++) {
                                            if (options[i].value === dataValue) {
                                                data = JSON.parse(options[i].getAttribute('data-item').replace(/"/g, '"'));
                                                break;
                                            }
                                        }
                                        return data;
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-grid pb-2 px-2">
                            <button class="btn btn-outline-secondary" type="submit">Отправить приглашение</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--<form class="container py-2 border border-2 rounded-3 border-secondary" th:method="POST" th:action="@{/principal/mail/send}" th:object="${message}" th:if="${admin}">
                <div class="row">
                    <div class="row py-2 bg-secondary">
                        <div class="col">
                            <p class="text-center fs-3 text-white">Отправить приглашение на регистрацию пользователя</p>
                        </div>
                    </div>
                    <div class="col">
                        <input type="email" placeholder="user@email.ru" class="form-control" th:field="*{mail}">
                    </div>
                    <div class="col">
                        <select class="form-select" th:field="*{role}">
                            <option th:each="role : ${roleList}" th:value="${role}" th:text="${role.getTitle()}"></option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control">
                        <input type="number" th:field="*{sportId}" hidden>
                        <script th:inline="javascript">

                        </script>
                    </div>
                    <div class="col">
                        <div class="d-grid gap-2">
                            <button class="btn btn-secondary" type="submit">Отправить приглашение</button>
                        </div>
                    </div>
                </div>
            </form>-->
        </div>
    </div>
</div>