.font-roboto {
    font-family: 'Roboto';
    font-weight: 300;
}

.vopros {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 0.8rem;
    color: #085a98;
    padding: 0 7px;
}

.otvet {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 0.8rem;
    color: gray;
    padding: 0 7px;
}

.otvet1 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.2rem;
    color: #3f3f3f;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.bold-text {
    font-weight: 500;
}

.top-logo {
    width: 160px;
    padding: 10px 30px 10px 5px;
}

.grey-fon {
    background-color: #f9fafe !important;
}

.otstup_top{
    margin-top: 1rem;
}

.card-adres{
    padding: 0;
    margin: 0;
    color: #085a98;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
}

.card-title{
  color: #085a98 !important;
}
.card-text{
     font-family: 'Roboto';
    font-weight: 300;
    font-size: 0.9rem;
    color: #3f3f3f;
    margin: 0;
    padding: 0;
}
.card-sport{
    padding: 0 0 0.3rem 0;
    margin: 0;
    color: #6f7071;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.1rem;
}

.sbros_otstupov{
    margin: 0;
    padding: 0;
}

.date-card{
     padding: 0 0 0.3rem 0;
     margin: 0;
    color: #677389;
}
.main-title{
    color: #335e94;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0.4rem 0 0.4rem 0;
}

.minbloc{
    min-height: 25rem;
}

.v-otstup-big{
    padding-top: 2rem;
}
.v-otstup-min{
    padding-top: 1rem;
}
.table-width{
    max-width: 100px !important;
    border: 1px solid red;
}