.font-roboto {
    font-family: 'Roboto';
    font-weight: 300;
}

.vopros {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 0.8rem;
    color: #085a98;
    padding: 0 7px;
}

.otvet {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 0.8rem;
    color: gray;
    padding: 0 7px;
}

.otvet1 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.2rem;
    color: #3f3f3f;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.bold-text {
    font-weight: 500;
}

.top-logo {
    width: 160px;
    padding: 10px 30px 10px 5px;
}

.grey-fon {
    background-color: #f9fafe !important;
}

.otstup_top{
    padding-top: 1rem;
}

.card-adres{
    padding: 0;
    margin: 0;
    color: #085a98;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
}

.card-title{
  color: #085a98 !important;
}
.card-text{
     font-family: 'Roboto';
    font-weight: 300;
    font-size: 0.9rem;
    color: #3f3f3f;
    margin: 0;
    padding: 0;
}
.card-sport{
    padding: 0 0 0.3rem 0;
    margin: 0;
    color: #6f7071;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.1rem;
}

.sbros_otstupov{
    margin: 0;
    padding: 0;
}

.date-card{
     padding: 0 0 0.3rem 0;
     margin: 0;
    color: #677389;
}
.main-title{
    color: #335e94;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0.4rem 0 1rem 0;
}
.main-title-niz{
    color: #335e94;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0.4rem 0 0rem 0;
}
.minbloc{
    min-height: 18rem;
}

.v-otstup-big{
    padding-top: 2rem;
}
.v-otstup-veri-big{
    padding-top: 9rem;
}
.v-otstup-min{
    padding-top: 1rem;
}
.table-width{
    max-width: 100px !important;

}


.truncate-text-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 9em;
}


.active > .page-link, .page-link.active {
    background-color: #6f7071 !important;
    border-color: #6f7071;
}

.page-link {
  color: #6f7071;
}

.text-opisanie{
    padding: 0;
    margin: 0;
    color: #2b2c2c;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.1rem;
    text-align: justify;
}
.text-zag{
    color: #335e94;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0.4rem 0 0.4rem 0;
}
.text-podzag{
    color: #335e94;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0;
}
.osn_spisok {
    padding-left: 1rem;
    list-style-type: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.1rem;
}
.meropriyatie-zag{
    color: #335e94;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.7rem;
    padding: 0.7rem 0 0 0;
    margin: 0;
}

 .icon-circle {
    border-radius: 10% !important;
     box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.truncate-text-3 {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left-text{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}
.left-text-zag{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}
.card-subtitle{
    text-transform: uppercase;
}
.nav-link{
    color: #222;
}
.nav-link:hover {
  color: red;
}
.drop-login {
color: #222;
}
.btn-link{
    color: #222;
}
.btn-link:hover {
  color: red;
}

/*
Ivan - my css variable
*/

.select2-selection__choice {
    color: black !important;
}

.select2-search__field {
    height: 40px !important;
}

.select2-selection__choice {
    height: 40px !important; /* Измените это значение на высоту вашего поля поиска */
    line-height: 40px !important; /* Это значение должно быть таким же, как высота, чтобы текст был вертикально выровнен */
}

.img-ratio-control {
    object-fit: cover;
}

.card-img-container {
    overflow: hidden; /* Prevents the image from going outside the container */
    position: relative; /* Needed for the image to scale properly */
}

.zoom-effect {
    transition: transform .2s; /* Animation */
    width: 100%;
    height: 100%;
}

.zoom-effect:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#overlay {
    display: none; /* по умолчанию скрыт */
    position: fixed; /* фиксированное позиционирование */
    z-index: 1000; /* находится над всеми элементами */
    top: 0; left: 0; right: 0; bottom: 0; /* занимает всю страницу */
    background-color: rgba(0,0,0,0.5); /* полупрозрачный фон */

    /* Центрирование спиннера */
    display: flex;
    justify-content: center;
    align-items: center;
}

