<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title th:text="${title}">title</title>
        <meta name="description" th:content="${description}">
        <meta name="yandex-verification" content="5e36ac16f7d8dac3"/>
        <link rel="icon" href="/img/icon.svg" type="image/svg+xml">

        <link href="/css/index.css" rel="stylesheet">
        <script src="/js/jquery.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

        <!-- include summernote css/js -->
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
        <!-- include select2 css/js -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <!-- include dropzone -->
    </head>

    <body>

        <div id="overlay">
            <div class="spinner-border fs-1 text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <header th:insert="~{blocks/header}"></header>
        <nav th:insert="~{blocks/navbar}"></nav>

        <div th:insert="~{content/home-page}" th:if="${index} == 'home-page'"></div>
        <div th:insert="~{content/event-page}" th:if="${index} == 'event-page'"></div>
        <div th:insert="~{content/events-page}" th:if="${index} == 'events-page'"></div>
        <div th:insert="~{content/event-add-page}" th:if="${index} == 'event-add-page'"></div>
        <div th:insert="~{content/event-edit-page}" th:if="${index} == 'event-edit-page'"></div>
        <div th:insert="~{content/profile-page}" th:if="${index} == 'profile-page'"></div>
        <div th:insert="~{content/error-page}" th:if="${index} == 'error-page'"></div>
        <div th:insert="~{content/registration-page}" th:if="${index} == 'registration-page'"></div>
        <div th:insert="~{content/information-page}" th:if="${index} == 'information-page'"></div>
        <div th:insert="~{content/object-all-page}" th:if="${index} == 'object-all-page'"></div>
        <div th:insert="~{content/object-show-page}" th:if="${index} == 'object-show-page'"></div>
        <div th:insert="~{content/policy-secure-page}" th:if="${index} == 'policy-secure-page'"></div>
        <div th:insert="~{content/news-add-page}" th:if="${index} == 'news-add-page'"></div>
        <div th:insert="~{content/news-page}" th:if="${index} == 'news-page'"></div>
        <div th:insert="~{content/news-edit-page}" th:if="${index} == 'news-edit-page'"></div>


        <footer th:insert="~{blocks/footer}"></footer>
        <script>
            // JavaScript
            window.addEventListener('DOMContentLoaded', function() {
                // Показать спиннер при загрузке страницы
                showSpinner();

                // Скрыть спиннер через 0.5 секунды
                //setTimeout(hideSpinner, 500);
            });

            window.addEventListener('load', function() {
                // Скрыть спиннер, когда страница полностью загрузилась
                hideSpinner();
            });

            // Показать спиннер перед переходом по ссылке
            document.querySelectorAll('a').forEach(function(link) {
                link.addEventListener('click', function(event) {
                    // Предотвратить стандартное действие
                    event.preventDefault();

                    // Показать спиннер
                    showSpinner();
                    //Перейти по ссылке
                    window.location.href = link.href;

                    // Перейти по ссылке через 0.5 секунды
                    /*setTimeout(function() {
                        window.location.href = link.href;
                    }, 500);*/
                });
            });

            function showSpinner() {
                document.getElementById('overlay').style.display = 'flex';
            }

            function hideSpinner() {
                document.getElementById('overlay').style.display = 'none';
            }
        </script>
        <script crossorigin="anonymous" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#summernote').summernote({
                    height: 300,
                    placeholder:'Ваш контент',
                    lang: 'ru-RU',
                    toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'italic', 'underline', 'clear']],
                        ['fontsize', ['fontsize']],
                        ['fontname', ['fontname']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link', 'picture', 'video']],
                        ['view', ['codeview', 'help']],
                    ]
                });
            });
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();
                for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
                k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(96916293, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/96916293" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>