<div class="pt-4"></div>
<hr>
<footer class="container my-4">
    <div class="row row-cols-auto">
        <div class="col-3">
            <img class="top-logo" src="/img/logo-f.png">
        </div>
        <div class="col-3">
            <p class="px-2" style="color: #8eb3e5">Карта сайта</p>
            <p><a class="nav-link px-2 text-muted" href="/">Главная</a></p>
            <p><a class="nav-link px-2 text-muted" th:href="@{/event/all(page=0,size=12,search='all')}">Спортмероприятия</a></p>
            <p><a class="nav-link px-2 text-muted disabled" href="#">Виды спорта</a></p>
            <p><a class="nav-link px-2 text-muted disabled" href="#">Спортивные школы</a></p>
            <p><a class="nav-link px-2 text-muted disabled" href="#">Статьи</a></p>
            <p><a class="nav-link px-2 text-muted" th:href="@{/object/all}">Спортивные объекты</a></p>
        </div>
        <div class="col-3 text-end">
            <p class="px-2" style="color: #8eb3e5">Политика сайта</p>
            <p><a class="nav-link px-2 text-muted" th:href="@{/policy/secure}">Политика безопасности</a></p>
        </div>
        <div class="col-3 text-end">
            <img class="top-logo" src="/img/icon.svg" width="64" height="64">
        </div>
    </div>
</footer>

